<script>
'use strict';
$(() => {

  const displayNames = $('.display-name');
  displayNames.click((event) => {
    displayNames.removeClass('selected');
    $(event.target).addClass('selected');
  });
  const random = (n) => Math.floor(Math.random() * n);
  const any = random(displayNames.size());
  $(displayNames[any]).click().scrollIntoView({direction:'vertical'});

});
</script>

<div id="display-names">
  <% @display_names.each do |display_name| %>
    <div class="display-name">
      <%= display_name %>
    </div>
  <% end %>
</div>
