<script>
'use strict';
$(() => {

  cd.ok = $('button#ok');
  cd.ok.prop('disabled', true).click(() => {
    const displayName = cd.selectedDisplayName.text().trim();
    const params = 'display_name=' + encodeURIComponent(displayName);
    window.location = `<%= @create_url %>?${params}`;
  });

});
</script>

<div>
  <button type="button" id="ok">ok</button>
</div>
