<script>
'use strict';
$(() => {

  //-------------------------------------------------------
  // Currently, only a single display-name can be selected.
  // At some point I plan to allow multiple display-names
  // to be selected, and for multiple manifests to be
  // associated with a group. When joining such a group,
  // a display-name will need to be selected.
  //-------------------------------------------------------

  const displayNames = $('.display-name');
  displayNames.each((_,displayName) => {
    $(displayName).click(() => {
      displayNames.removeClass('selected');
      $(displayName).addClass('selected');
    });
  });

  const random = (n) => Math.floor(Math.random() * n);
  const any = random(displayNames.size());
  const anyDisplayName = $(displayNames[any]);
  anyDisplayName.click();
  anyDisplayName.scrollIntoView({ direction: 'vertical' });

});
</script>

<div id="display-names">
  <% @display_names.each do |display_name| %>
    <div class="display-name">
      <%= display_name %>
    </div>
  <% end %>
</div>
