<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Free Online Coding Dojo" />
    <meta name="keywords" content="Free Online Coding Dojo Kata Deliberate Software Team Practice" />
    <meta name="author" content="Jon Jagger" />
    <link rel="stylesheet" href="assets/app.css">
    <script src="assets/app.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
