
$black: #000;
$darker-color: darken(#666, 25%);
$lighter-color: lighten(Khaki, 10%);
$text-color: darken($lighter-color, 10%);

@mixin non-code-font {
  font-family: Impact, Trebuchet MS, Tahoma, Arial, sans-serif;
}

@mixin plaintext-font {
  font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
}

@mixin rounded-corner($radius: 6px)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin edged-panel
{
  @include rounded-corner(5px);
     display: inline-block;
      border: 1px solid darken(gray,20%);
     padding: 4px;
      margin: 0px;
}

@mixin wide-list-item
{
  @include plaintext-font();

       color: $lighter-color;
  background: $darker-color;

  text-align: left;

      border: 1px solid $darker-color;
      margin: { bottom: 0px; left: 0px; left: 0px; right: 0px; }
     padding: { left: 4px; right: 0px; }
      cursor: pointer;

  // no up/down scrolling, #filename-list has its own
  overflow-y: none;
  &::-webkit-scrollbar:vertical { width: 0px; }

  // individual left/right scrolling for looooooong filenames
  &::-webkit-scrollbar:horizontal { height: 0px; }
    max-width: 295px;
   overflow-x: auto;

  &[class~='selected'] {
    background-color: lighten($darker-color, 25%);
    cursor: default;
  }
  &:hover {
    border: 1px dotted lighten($darker-color,25%);
  }
}

//-----------------------------------------------------------------------
// From http://davidwalsh.name/css-gradients

@mixin gradient-lighten($color, $p1, $p2, $p3)
{
  // chrome 2+, safari 4+; multiple color stops
  background-image:-webkit-gradient(linear, left bottom, left top,
    color-stop(0.32, lighten($color, $p1)),
    color-stop(0.66, lighten($color, $p2)),
    color-stop(0.83, lighten($color, $p3))
  );

  // chrome 10+, safari 5.1+
  background-image: -webkit-linear-gradient(
    lighten($color, $p1),
    lighten($color, $p2),
    lighten($color, $p3)
  );

  // firefox; multiple color stops
  background-image: -moz-linear-gradient(top,
    lighten($color, $p1),
    lighten($color, $p2),
    lighten($color, $p3)
  );

  // ie 6+
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#{lighten($color, $p1)}',
    endColorstr='#{lighten($color, $p2)}'
  );

  // ie8 +
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{lighten($color, $p1)}', endColorstr='#{lighten($color, $p2)}')";

  // ie10
  background-image: -ms-linear-gradient(
    lighten($color, $p1),
    lighten($color, $p2),
    lighten($color, $p3)
  );

  // opera 11.1
  background-image: -o-linear-gradient(
    lighten($color, $p1),
    lighten($color, $p2),
    lighten($color, $p3)
  );

  // The "standard"
  background-image: linear-gradient(
    lighten($color, $p1),
    lighten($color, $p2),
    lighten($color, $p3)
  );
}

@mixin gradient-darken($color, $p1, $p2, $p3)
{
  // chrome 2+, safari 4+; multiple color stops
  background-image:-webkit-gradient(linear, left bottom, left top,
    color-stop(0.32, darken($color, $p1)),
    color-stop(0.66, darken($color, $p2)),
    color-stop(0.83, darken($color, $p3))
  );

  // chrome 10+, safari 5.1+
  background-image: -webkit-linear-gradient(
    darken($color, $p1),
    darken($color, $p2),
    darken($color, $p3)
  );

  // firefox; multiple color stops
  background-image: -moz-linear-gradient(top,
    darken($color, $p1),
    darken($color, $p2),
    darken($color, $p3)
  );

  // ie 6+
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr = '#{darken($color, $p1)}',
    endColorstr = '#{darken($color, $p2)}'
  );

  // ie8 +
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken($color, $p1)}', endColorstr='#{darken($color, $p2)}')";

  // ie10
  background-image: -ms-linear-gradient(
    darken($color, $p1),
    darken($color, $p2),
    darken($color, $p3)
  );

  // opera 11.1
  background-image: -o-linear-gradient(
    darken($color, $p1),
    darken($color, $p2),
    darken($color, $p3)
  );

  // The "standard"
  background-image: linear-gradient(
    darken($color, $p1),
    darken($color, $p2),
    darken($color, $p3)
  );
}

//-----------------------------------------------------------------------
body
{
  font-size: 0.9em;
     margin: { top: 0.3em; left: 0.3em; }
      color: $lighter-color;
  background: $darker-color;
     padding: none;
      margin: 0px;
      text-align: center;
      display: block;
}

$filename_and_button_border_size: 1px;

button
{
  @include rounded-corner(6px);
  @include gradient-lighten(darken($lighter-color, 12%), 9%, 2%, 0%);

          display: inline-block;
           cursor: pointer;
          padding: { left: 0.5em; right: 0.5em; bottom: 0.1em; }
  text-decoration: none;
      font-weight: normal;
           border: $filename_and_button_border_size solid $darker-color;

  &:hover { border: $filename_and_button_border_size dotted lighten($darker-color, 20%); }
  &[disabled] {
    background: lighten($darker-color, 20%);
        cursor: default;
    &:hover { border: $filename_and_button_border_size solid $darker-color; }
  }
}

#custom-page
{
  display: inline-block;
  margin: { top: 10px; }
  font-size: 1.15em;
}

#heading
{
  @include non-code-font();
       color: $lighter-color;
   font-size: 80px;
  text-align: center;
}

#custom-list
{
  max-width: 350px;
      width: 350px;
  height: 340px;
  padding: 6px;
  margin-right: 5px;
  overflow-y: auto;
  overflow-x: none;

  @include edged-panel();
  .display-name
  {
    @include wide-list-item();
    max-width: 350px;
  }
}

#button-box
{
  text-align: center;
}

button#ok
{
  @include non-code-font();
  font-size: 1.85em;
  margin-top: 5px;
}
