
$darker-color: darken(#666, 25%);
$lighter-color: lighten(Khaki, 10%);

@mixin non-code-font {
  font-family: Impact, Trebuchet MS, Tahoma, Arial, sans-serif;
}

@mixin plaintext-font {
  font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
}

@mixin rounded-corner($radius: 6px)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

@mixin edged-panel
{
  @include rounded-corner(5px);
     display: inline-block;
      border: 1px solid darken(gray,20%);
     padding: 4px;
      margin: 0px;
}

@mixin wide-list-item
{
  @include plaintext-font();

       color: $lighter-color;
  background: $darker-color;

  text-align: left;

      border: 1px solid $darker-color;
      margin: { bottom: 0px; left: 0px; left: 0px; right: 0px; }
     padding: { left: 4px; right: 0px; }
      cursor: pointer;

  overflow-y: none;
  &::-webkit-scrollbar:vertical { width: 0px; }

  // individual left/right scrolling for looooooong filenames
  &::-webkit-scrollbar:horizontal { height: 0px; }
    max-width: 295px;
   overflow-x: auto;

  &[class~='selected'] {
    background-color: lighten($darker-color, 20%);
    cursor: default;
  }
  &:hover {
    border: 1px dotted lighten($darker-color,25%);
  }
}

//-----------------------------------------------------------------------
body
{
  font-size: 0.9em;
     margin: { top: 0.3em; left: 0.3em; }
      color: $lighter-color;
  background: $darker-color;
     padding: none;
      margin: 0px;
      text-align: center;
      display: block;
}

button
{
  @include rounded-corner(6px);
  background: darken($lighter-color, 12%);

          display: inline-block;
           cursor: pointer;
          padding: { left: 0.5em; right: 0.5em; bottom: 0.1em; }
  text-decoration: none;
      font-weight: normal;
           border: 1px solid $darker-color;

  &:hover { border: 1px dotted lighten($darker-color, 20%); }
  &[disabled] {
    background: lighten($darker-color, 20%);
        cursor: default;
    &:hover { border: 1px solid $darker-color; }
  }
}

#custom-page
{
  display: inline-block;
  margin: { top: 10px; }
  font-size: 1.15em;
}

#heading
{
  @include non-code-font();
       color: $lighter-color;
   font-size: 80px;
  text-align: center;
}

#custom-list
{
  max-width: 375px;
      width: 375px;
  height: 340px;
  padding: 6px;
  margin-right: 5px;
  overflow-y: auto;
  overflow-x: none;
  @include edged-panel();
  .display-name
  {
    @include wide-list-item();
    max-width: 375px;
  }
}

#button-box
{
  text-align: center;
  button#ok
  {
    @include non-code-font();
    font-size: 1.85em;
    margin-top: 5px;
  }
}
