<script type="text/javascript"><!--
'use strict';
$(() => {

  $('[id^=custom_]').each((_,custom) => {
    $(custom).click(() => {
      previous.removeClass('selected');
      $(custom).addClass('selected');
      previous = $(custom);
    });
  });

  const index = Math.floor(Math.random() * <%= @display_names.size %>);
  const selected = $(`#custom_${index}`);
  let previous = selected;

  selected.click();
  selected.scrollIntoView({ direction: 'vertical' });
});
//--></script>

<div id="custom-list">
  <% @display_names.each.with_index do |display_name,index| %>
    <div class="display-name"
         id="custom_<%= index %>"
         data-name="<%= display_name %>" >
      <%= display_name %>
    </div>
  <% end %>
</div>
