<script type="text/javascript"><!--
'use strict';
$(function() {

  let previous = undefined;
  let selected = $('#custom_' + '<%= @custom_index %>');

  $('[id^=custom_]').each(function() {
    const custom = $(this);
    custom.click(function() {
      cd.switchEntry(previous, custom);
      previous = custom;
    });
  });

  selected.click();
  selected.scrollIntoView({ direction: 'vertical' });
});
//--></script>

<div id="custom-list">
  <% @display_names.each.with_index do |display_name,index| %>
    <div class="display-name"
         id="custom_<%= index %>"
         data-name="<%= display_name %>" >
      <%= display_name %>
    </div>
  <% end %>
</div>
