<script>
'use strict';
$(() => {

  const yinYang = $('#logo');
  yinYang.click(() => window.location.href = '/dojo/index');

});
</script>

<div id="logo">
  <img src="/images/cyber-dojo.png" />
</div>
