<script>
'use strict';
$(() => {

  $('button#ok').click(() => {
    const url = '/custom/create_<%= @from %>';
    const display_name = $('[id^=custom_][class~=selected]').data('name');
    $.post(url, { display_name:display_name }, (data) => {
      window.location.replace(data.redirect);
    });
  });

});
</script>

<div id="button-box">
  <button type="button" id="ok">ok</button>
</div>
