<script>
'use strict';
$(() => {

  const post = (url) => {
    $('<form>', {
      method: 'post',
      action: url
    }).hide().appendTo($('body')).submit().remove();
  };

  $('button#ok').click(() => {
    const raw_display_name = $('[id^=custom_][class~=selected]').data('name');
    const display_name = encodeURIComponent(raw_display_name);
    const url = `/custom/create_<%= @for %>?display_name=${display_name}`;
    post(url);
  });

});
</script>

<div id="button-box">
  <button type="button" id="ok">ok</button>
</div>
