<script>
'use strict';
$(() => {

  $('button#ok').click(() => {
    const display_name = $('[id^=custom_][class~=selected]').data('name');
    const url = '/custom/save_<%= @from %>' +
      '?display_name=' + encodeURIComponent(display_name);
    window.location.href = url;
  });

});
</script>

<div id="button-box">
  <button type="button" id="ok">ok</button>
</div>
