<script>
'use strict';
$(() => {

  const post = (url) => {
    $('<form>', {
      method: 'post',
      action: url
    }).hide().appendTo($('body')).submit().remove();
  };

  $('button#ok').click(() => {
    const display_name = $('.selected.display-name').text().trim();
    const param = $.param({display_name:display_name});
    const url = `/custom/create_<%= @for %>?${param}`;
    post(url);
  });

});
</script>

<div id="button-box">
  <button type="button" id="ok">ok</button>
</div>
