<script>
'use strict';
$(() => {

  $('button#ok').click(() => {
    const display_name = $('.selected.display-name').text().trim();
    $.ajax({
         timeout: 1000, // 1 second
            type: 'POST',
             url: `<%= @create_url %>`,
            data: `{"display_name": "${display_name}"}`,
     contentType: 'application/json',
        dataType: 'json',
         success: complete,
           error: error
    });
  });

  const complete = (data) => {
    //window.open(data.redirect_url);
    //window.location.href = '/';
    // TODO
    // The redirect need to have a different port....
    alert(`redirect_url:${data.redirect_url}`);
    window.location.href = data.redirect_url;
  };

  const error = (data, status, xhr) => {
    const msg = `${JSON.stringify(data)}...${JSON.stringify(status)}...${JSON.stringify(xhr)}`;
    alert(`error:${msg}`);
  };

  const error2 = (request, status, thrown) => {
    cd.dialogError([
      request.responseText,
      '----------------------------',
      `Status=${status}`,
      thrown
    ].join("\n"));
  };

});
</script>

<div id="button-box">
  <button type="button" id="ok">ok</button>
</div>
