<script>
'use strict';
$(() => {

  $('button#ok').click(() => {
    const display_name = $('.selected.display-name').text().trim();
    $.ajax({
         timeout: 1000, // 1 second
            type: 'POST',
             url: `<%= @create_url %>`,
            data: `{"display_name": "${display_name}"}`,
     contentType: 'application/json',
        dataType: 'json',
         success: complete,
           error: error
    });
  });

  const complete = (data) => {
    //window.open(url);
    //window.location.href = cd.homePageUrl();
    window.location = `http://${window.location.hostname}${data.route}`;
  };

  const error = (data) => {
    const pretty = JSON.stringify(data, null, 2);
    const html = $('<textarea>', {
               'id':'error',
         'readonly':'readonly'
    }).val(pretty);
    makeDialog(html, 'error', 'close').dialog('open');
  };

  const makeDialog = function(html, title, close) {
    let buttons = {};
    buttons[close] = function() { $(this).remove(); };
    return $('<div>')
      .html(html)
      .dialog({
        title: dialogTitle(title),
        autoOpen: false,
        width: 580,
        height: 280,
        modal: true,
        buttons: buttons
      });
  };

  const dialogTitle = (title) => {
    return `<span class="large dialog title">${title}<span>`;
  };

});
</script>

<div id="button-box">
  <button type="button" id="ok">ok</button>
</div>
