<script>
'use strict';
$(() => {

  $('button#ok').click(() => {
    const display_name = $('.selected.display-name').text().trim();
    const params = 'display_name=' + encodeURIComponent(display_name);
    const url = `<%= @create_url %>?${params}`;
    //window.open(url);
    //window.location = '/'
    window.location = url;
  });

});
</script>

<div>
  <button type="button" id="ok">ok</button>
</div>
